.c-header__title {
  font-size: 22px;
  dominant-baseline: hanging;
}

.c-header__sub-title {
  font-size: 14px;
  dominant-baseline: hanging;
  color: #333;
}

.c-icon-menu__text {
  dominant-baseline: hanging;
  font-size: 12px;
}

.c-icon_menu__image {
  opacity: 0.9;
}

.c-icon_menu__image:hover {
  opacity: 1;
}

.c-text-box__text {
  font-size: 12px;
}
