.c-header__title {
  font-size: 22px;
  dominant-baseline: hanging;
}

.c-header__sub-title {
  font-size: 14px;
  dominant-baseline: hanging;
  color: #333;
}

.c-icon-menu__text {
  dominant-baseline: hanging;
  font-size: 12px;
}

.c-icon_menu__image {
  opacity: 0.9;
}

.c-icon_menu__image:hover {
  opacity: 1;
}

.c-text-box__text {
  font-size: 12px;
  fill: #333;
}

.c-text-box__shadow {
  fill: rgba(0, 0, 0, 0.1);
}

.c-text-box__arrow-head {
  fill: #2f88dc;
}

.c-text-box__background {
  fill: #ffffff;
  stroke-width: 2px;
  stroke: #2f88dc;
}

.c-table__cell-content {
  dominant-baseline: middle;
  font-size: 10px;
  fill: #333;
}

.c-table__background {
  fill: #fff;
}

.c-table__cell-background {
  fill: #dadada;
}

.c-table__header .c-table__cell-background {
  fill: #2f88dc;
  cursor: pointer;
}

.c-table__header .c-table__cell-content {
  font-weight: bold;
  fill: #fff;
  user-select: none;
  pointer-events: none;
}
